body{
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.3s;
}

.container{
    text-align: center;
}

button{
    padding: 10px 20px;
    cursor: pointer;
}

.dark-mode{
    background-color: #222;
    color: white;
}