body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:25px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px gray;
}

input{
    padding:10px;
    width:200px;
}

button{
    padding:10px 20px;
    cursor:pointer;
    border:none;
    background-color:green;
    color:white;
}

button:hover{
    background-color:darkgreen;
}